@import "bootstrap";

/* universal */
html{
  overflow-y: scroll; //add a vertical scroll bar to all htmls
  overflow-x: scroll; //add a horizontal scroll bar to all htmls
}

body{
  padding-top: 60px;
}

section{
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

}

.center h1 {
  margin-bottom: 10px;

 }

/* the dot . in .center indicates that the rule styles a class.
   the pound sign # identifies a rule to style a CSS id.

   This means that elements inside any tag(such as div)  with class "center" will 
   be centered on the page.
*/


/* typography */

/* ... */

/* header */
#logo{ // :id => "logo" , so we use a CSS id
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff; // shorthand for #ffffff, three pairs of hexadecimal numbers,
               // one each for the primary colors red, green, and blue(in order)
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1; 
}
