@import "bootstrap";

/* universal */

html{
  overflow-y: scroll; //add a vertical scroll bar to all htmls
  overflow-x: scroll; //add a horizontal scroll bar to all htmls
}

body{
  padding-top: 60px;
}
